server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:

        - id: admin_category
          uri: lb://main-service
          predicates:
            - Path=/admin/categories/**

        - id: public_category
          uri: lb://main-service
          predicates:
            - Path=/categories/**

        - id: admin_comment
          uri: lb://main-service
          predicates:
            - Path=/admin/comments/**

        - id: private_comment
          uri: lb://main-service
          predicates:
            - Path=/users/{userId}/comments/**

        - id: public_comment
          uri: lb://main-service
          predicates:
            - Path=/comments/**

        - id: admin_compilation
          uri: lb://main-service
          predicates:
            - Path=/admin/compilations/**

        - id: public_compilation
          uri: lb://main-service
          predicates:
            - Path=/compilations/**

        - id: admin_event
          uri: lb://main-service
          predicates:
            - Path=/admin/events/**

        - id: private_event
          uri: lb://main-service
          predicates:
            - Path=/users/{userId}/events/**

        - id: public_event
          uri: lb://main-service
          predicates:
            - Path=/events/**

        - id: participation_request
          uri: lb://main-service
          predicates:
            - Path=/users/{userId}/requests/**

        - id: user
          uri: lb://main-service
          predicates:
            - Path=/admin/users/**






#server:
#  port: 8080
#
#spring:
#  application:
#    name: gateway-server
#  cloud:
#    # Настройки балансировщика
#    loadbalancer:
#      ribbon:
#        enabled: false # Отключаем старый Ribbon в пользу нового LoadBalancer
#      cache:
#        enabled: false # Отключаем кэш для теста, чтобы видеть переключение между инстансами сразу
#    gateway:
#      discovery:
#        locator:
#          enabled: true
#      routes:
#        # ---- статистика ----
#        - id: stats_server
#          uri: lb://stats-server
#          predicates:
#            - Path=/stats-server/**
#
#        # ---- основа ----
#        - id: main_service
#          uri: lb://main-service
#          predicates:
#            - Path=/main-service/**
#
## ---- Настройки логирования ----
#logging:
#  level:
#    root: INFO
#
#    # Логи входящих HTTP-запросов в Gateway (от клиента к Gateway).
#    reactor.netty.http.server: DEBUG
#
#    # Логи исходящих HTTP-запросов из Gateway (от Gateway к микросервису).
#    reactor.netty.http.client: DEBUG


#server:
#  port: 8080
#
#spring:
#  cloud:
#    gateway:
#      discovery.locator.enabled: true
#      routes:
#        - id: main_service_route
#          uri: lb://main-service
#          predicates:
#            - Path=/**
#
#logging:
#  level:
#    org:
#      springframework:
#        cloud:
#          gateway: DEBUG
